# output dir
*.png
*.diff
*.jpg
*.pdf
*.save
*.pth

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/image_preprocessing/slogs
/image_preprocessing/*data*


